<div class="city">
  <div class="js-city-name">
  </div>

  <form class="js-city-form inpt-group">
    <input class="inpt-control inpt" type="text" name="city" value="" placeholder="Ввести свой город">
    <button type="submit" name="button" class="bttn inpt-group-addon">
      Обновить
    </button>
  </form>

</div>
