<h2>Настройка слайдера</h2>

<p>
  Описание настроек http://idangero.us/swiper/api/
</p>

<p>
  Изменять настройки слайдера в файле theme.js
  строка:
  var sliders = InitSwiper($(".promo-slider")

  Пример с автопрокруткой каждые 5сек
  var sliders = InitSwiper($(".promo-slider"), {
    autoplay: {
       delay: 5000,
    }
  });
</p>
