<div class="h2-like fw-700  text-center m-t-0 m-b-40 m-b-20-m">Популярные категории</div>


			<div class="body_forimages">
				<div class="container_images">
					<a href="/collection/eroticheskaya-odezhda" class="box a">
						<img class="transformimage" src="https://static-ru.insales.ru/files/1/6243/12851299/original/hd-Catrinel-Menghia-1080p-58__1_.jpg">
						<p>Эротическая одежда</p>
					</a>
					<a href="/collection/kosmetika-s-feromonami" class="box b">
						<img class="transformimage" src="https://static-ru.insales.ru/files/1/6994/12852050/original/wp1879435__2_.jpg">
						<p>Духи с феромонами</p>
					</a>
					<a href="/collection/smazki-lubrikanty" class="box c">
						<img class="transformimage" src="https://static-ru.insales.ru/files/1/7041/12852097/original/3b17deb4-1b37-45ee-84c2-21e7e1ad7a53-lube__1_.jpg">
						<p>Лубриканты</p>
					</a>
					<a href="/collection/naruchniki-osheyniki" class="box d">
						<img class="transformimage"  src="https://static-ru.insales.ru/files/1/7256/12852312/original/handcuffs-sex-toy-adult-toy-bedroom-stockgetty.jpg">
						<p>Наручники</p>
					</a>
					<a href="/collection/bdsm-sado-mazo-tovary" class="box e">
						<img class="transformimage" src="https://static-ru.insales.ru/files/1/7606/12852662/original/women_model_handcuffs_ass_kneeling-1547151__1_.jpg">
						<p>BDSM, садо-мазо товары</p>
					</a> 
					<a href="/collection/seks-tovary-dlya-zhenschin" class="box f">
						<img class="transformimage" src="https://static-ru.insales.ru/files/1/7511/12852567/original/image__1_.jpg">
						<p>Секс-товары для женщин</p>
					</a>
					<a href="/collection/vibratory" class="box g">
						<img class="transformimage" src="https://static-ru.insales.ru/files/1/7150/12852206/original/how-to-clean-sex-toys.jpg">
						<p>Вибраторы</p>
					</a>
					<a href="/collection/analnye-igrushki" class="box h">
						<img class="transformimage"  src="https://static-ru.insales.ru/files/1/8117/12189621/original/dainis-graveris-EE5RrcdNFso-unsplash.jpg">
						<p>Анальные игрушки</p>
					</a>
					<a href="/collection/seks-tovary-dlya-muzhchin" class="box j">
						<img class="transformimage"  src="https://static-ru.insales.ru/files/1/7608/12852664/original/IMG_3888__6_.jpg">
						<p>Секс-товары для мужчин</p>
					</a>
				</div>
			</div>


    <!-- 
    1)	https://static-ru.insales.ru/files/1/7490/12188994/original/265284_vibrator_vibrostimulyator_g_spot_restart_ra_300_rozoviy_10m-min.jpg
    2)  https://static-ru.insales.ru/files/1/93/12189789/original/IMG_3889__1___1___1_.jpg
    3) https://static-ru.insales.ru/files/1/21/12189717/original/gettyimages-683887930-612x612.jpg
    4) https://static-ru.insales.ru/files/1/8147/12189651/original/alexandra-1yYJbsJjT94-unsplash__1___1___1___1___1_.png
    5) https://static-eu.insales.ru/files/1/65/11894849/original/l86zlhzTLyM.jpg
    6) https://static-ru.insales.ru/files/1/7945/12189449/original/IMG_3888__3_.jpg
    7) https://static-ru.insales.ru/files/1/8117/12189621/original/dainis-graveris-EE5RrcdNFso-unsplash.jpg
     -->
   