
		<div class="h2-like fw-700 text-center  m-b-20-m">Карантинные комплекты</div>
		<div class="about-us text-center flex-middle  ">
			<div class="tabs1">
				<input id="tab1" checked="checked" name="tabs1" type="radio" /> 
				<label title="Для женщин" for="tab1">
				   <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" data-name="Capa 1" viewBox="0 0 512 512">
				   	<path d="M406.5,174.67c.32-64.84-46.19-122.54-112.15-134.08-68.6-12-134.38,30.11-153.42,95.49l.23,0a135,135,0,0,0-5.34,29.5h-.06q-.33,5.28-.25,10.52c.62,68.43,52.22,124.89,118.58,133.19a4.61,4.61,0,0,1,1.91,3.72v80.17H225.78a10.24,10.24,0,0,0-10.24,10.24V413a10.25,10.25,0,0,0,10.24,10.24H256v40a10.24,10.24,0,0,0,10.24,10.24h9.52A10.23,10.23,0,0,0,286,463.21v-40h30.22A10.25,10.25,0,0,0,326.46,413v-9.52a10.24,10.24,0,0,0-10.24-10.24H286V313.06a4.59,4.59,0,0,1,1.91-3.72C354,301.07,405.49,245,406.48,176.9v-.4c0-.53,0-1.06,0-1.59ZM271,282.1A105.5,105.5,0,1,1,376.5,176.6,105.62,105.62,0,0,1,271,282.1Z"/>
				   </svg>
				   <p>Для женщин</p>
				</label>
				<input id="tab2" name="tabs1" type="radio" /> 
				<label title="Для мужчин" for="tab2">
				   <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" data-name="Capa 1" viewBox="0 0 512 512">
				   	<path d="M446.64,71.54H350.93A7.46,7.46,0,0,0,343.47,79V94.08a7.46,7.46,0,0,0,7.46,7.46h48.58a1.4,1.4,0,0,1,1,2.38l-68.3,68.3a10.47,10.47,0,0,1-10.14,2.69A134.64,134.64,0,0,0,264.35,150C195.75,138,130,180.1,110.93,245.48l.23.05A135,135,0,0,0,105.82,275h-.06q-.33,5.28-.25,10.52c.63,69.09,53.21,126,120.49,133.43l.05-.85a134.65,134.65,0,0,0,29.9,0l.05.84c67-7.42,119.48-63.93,120.48-132.68v-.4c0-.53,0-1.06,0-1.59v-.24A135.37,135.37,0,0,0,351,204.52a10.49,10.49,0,0,1,2.38-11.09l68.3-68.3a1.39,1.39,0,0,1,2.38,1V174.7a7.46,7.46,0,0,0,7.46,7.46h15.09a7.46,7.46,0,0,0,7.45-7.46V79A7.46,7.46,0,0,0,446.64,71.54ZM241,391.5A105.5,105.5,0,1,1,346.5,286,105.62,105.62,0,0,1,241,391.5Z"/>
				   </svg>
				   <p>Для мужчин</p>
				</label>
				<input id="tab3" name="tabs1" type="radio" /> 
				<label title="Для парочек" for="tab3">
				       <svg xmlns="http://www.w3.org/2000/svg" id="Capa_1" data-name="Capa 1" viewBox="0 0 512 512">
				       	<path d="M401.17,7.46V22.54A7.46,7.46,0,0,0,408.63,30h48.58a1.39,1.39,0,0,1,1,2.38l-68.3,68.3a10.49,10.49,0,0,1-13.46,1.13,135.22,135.22,0,0,0-159.13,3,134.79,134.79,0,0,0-81.6-27.4C61,77.38.21,138.16.21,212.88.21,281.17,51,337.81,116.76,347.05a4.6,4.6,0,0,1,3.95,4.56v80.16H90.49A10.25,10.25,0,0,0,80.25,442v9.52a10.24,10.24,0,0,0,10.24,10.24h30.22v40A10.23,10.23,0,0,0,131,512h9.52a10.24,10.24,0,0,0,10.24-10.24v-40h30.22a10.24,10.24,0,0,0,10.24-10.24V442a10.25,10.25,0,0,0-10.24-10.24H150.71V351.61a4.6,4.6,0,0,1,3.95-4.56A134.77,134.77,0,0,0,217.31,321a134.85,134.85,0,0,0,86.17,27.33C374.07,346,431.45,289,434.3,218.47A134.8,134.8,0,0,0,410,135.36a10.49,10.49,0,0,1,1.13-13.46l68.3-68.31a1.4,1.4,0,0,1,2.38,1v48.58a7.46,7.46,0,0,0,7.46,7.46h15.09a7.45,7.45,0,0,0,7.45-7.46V7.46A7.45,7.45,0,0,0,504.34,0H408.63A7.46,7.46,0,0,0,401.17,7.46ZM217.31,279.68a105.29,105.29,0,0,1,0-133.59,105.29,105.29,0,0,1,0,133.59Zm-187.1-66.8a105.45,105.45,0,0,1,165-87.09,135.22,135.22,0,0,0,0,174.18,105.45,105.45,0,0,1-165-87.09Zm268.7,105.5A104.9,104.9,0,0,1,239.43,300a135.22,135.22,0,0,0,0-174.18,105.48,105.48,0,1,1,59.48,192.59Z"/>
				       </svg>
				   <p>Для пар</p>
				</label>					
				<section id="content-tab1">
					<div id="complectBox">
						<div class="containter_cards">
							<div class="cardcomp">
								<a href="/product/karantinnyy-nabor-dlya-zhenschin-pleasure" class="imgBx">
									<img src="https://static-eu.insales.ru/files/1/8167/12148711/original/Bundle4.jpg">
								</a>
								<div class="contentOfCard">
									<h2 class="comh" >Набор<br>"Удовольствие"</h2>
								
									<a class="comhbutton" href="/product/karantinnyy-nabor-dlya-zhenschin-pleasure">К покупке</a>
								</div>
							</div>
							<div class="cardcomp">
								<a href="/product/karantinnyy-nabor-dlya-zhenschin-delight" class="imgBx">
									<img src="https://static-eu.insales.ru/files/1/8166/12148710/original/Bundle3.jpg">
								</a>
								<div class="contentOfCard">
									<h2 class="comh" >Набор<br>"Наслаждение"</h2>
									
									<a class="comhbutton" href="/product/karantinnyy-nabor-dlya-zhenschin-delight">К покупке</a>
								</div>
							</div>
							<div class="cardcomp">
								<a href="/product/karantinnyy-nabor-dlya-zhenschin-euphoria" class="imgBx">
									<img src="https://static-eu.insales.ru/files/1/8165/12148709/original/Bundle2.jpg">
								</a>
								<div class="contentOfCard">
									<h2 class="comh">Набор<br>"Эйфория"</h2>
									
									<a class="comhbutton" href="/product/karantinnyy-nabor-dlya-zhenschin-euphoria">К покупке</a>
								</div>
							</div>
							<div class="cardcomp">
								<a href="/product/karantinnyy-nabor-dlya-zhenschin-passion" class="imgBx">
									<img src="https://static-eu.insales.ru/files/1/8164/12148708/original/Bundle.jpg">
								</a>
								<div class="contentOfCard">
									<h2 class="comh">Набор<br>"Страсть"</h2>
								
									<a class="comhbutton" href="/product/karantinnyy-nabor-dlya-zhenschin-passion">К покупке</a>
								</div>
							</div>
						</div>
					
					</div>
					</section>
					  
					<section id="content-tab2">
					<div id="complectBox">
						<div class="containter_cards">
							<div class="cardcomp">
								<a href="/product/karantinnyy-nabor-dlya-muzhchin-normalno" class="imgBx">
									<img src="https://static-eu.insales.ru/files/1/8172/12148716/original/Man1.jpg">
								</a>
								<div class="contentOfCard">
									<h2 class="comh" >Набор<br>"Нормально"</h2>
									
									<a class="comhbutton" href="/product/karantinnyy-nabor-dlya-muzhchin-normalno">К покупке</a>
								</div>
							</div>
							<div class="cardcomp">
								<a href="/product/karantinnyy-nabor-dlya-muzhchin-voobsche-normalno" class="imgBx">
									<img src="https://static-eu.insales.ru/files/1/8173/12148717/original/Man2.jpg">
								</a>
								<div class="contentOfCard">
									<h2 class="comh">Набор<br>"Вообще нормально"</h2>
								
									<a class="comhbutton" href="/product/karantinnyy-nabor-dlya-muzhchin-voobsche-normalno">К покупке</a>
								</div>
							</div>
							<div class="cardcomp">
								<a href="/product/karantinnyy-nabor-dlya-muzhchin-horosho" class="imgBx">
									<img src="https://static-eu.insales.ru/files/1/8174/12148718/original/Man3.jpg">
								</a>
								<div class="contentOfCard">
									<h2 class="comh">Набор<br>"Хорошо"</h2>
									
									<a class="comhbutton" href="/product/karantinnyy-nabor-dlya-muzhchin-horosho">К покупке</a>
								</div>
							</div>
							<div class="cardcomp">
								<a href="/product/karantinnyy-nabor-dlya-muzhchin-sliyanie-so-vselennoy" class="imgBx">
									<img src="https://static-eu.insales.ru/files/1/8175/12148719/original/Man4.jpg">
								</a>
								<div class="contentOfCard">
									<h2 class="comh">Набор<br>"Слияние со Вселенной"</h2>
								
									<a class="comhbutton" href="/product/karantinnyy-nabor-dlya-muzhchin-sliyanie-so-vselennoy">К покупке</a>
								</div>
							</div>
						</div>
					</div>
					</section>
					  
					<section id="content-tab3">
					<div id="complectBox">
						<div class="containter_cards">
							<div class="cardcomp">
								<a href="/product/karantinnyy-nabor-dlya-par-pleasure" class="imgBx">
									<img src="https://static-eu.insales.ru/files/1/8168/12148712/original/Coup1.jpg">
								</a>
								<div class="contentOfCard">
									<h2 class="comh">Набор<br>"Удовольствие"</h2>
								
									<a class="comhbutton" href="/product/karantinnyy-nabor-dlya-par-pleasure">К покупке</a>
								</div>
							</div>
							<div class="cardcomp">
								<a href="/product/karantinnyy-nabor-dlya-par-delight" class="imgBx">
									<img src="https://static-eu.insales.ru/files/1/8169/12148713/original/Coup2.jpg">
								</a>
								<div class="contentOfCard">
									<h2 class="comh">Набор<br>"Наслаждение"</h2>
									
									<a class="comhbutton" href="/product/karantinnyy-nabor-dlya-par-delight">К покупке</a>
								</div>
							</div>
							<div class="cardcomp">
								<a href="/product/karantinnyy-nabor-dlya-par-euphoria" class="imgBx">
									<img src="https://static-eu.insales.ru/files/1/8170/12148714/original/Coup3.jpg">

								</a>
								<div class="contentOfCard">
									<h2 class="comh">Набор<br>"Эйфория"</h2>
									
									<a class="comhbutton" href="/product/karantinnyy-nabor-dlya-par-euphoria">К покупке</a>
								</div>
							</div>
							<div class="cardcomp">
								<a href="/product/karantinnyy-nabor-dlya-par-passion" class="imgBx">
									<img src="https://static-eu.insales.ru/files/1/8171/12148715/original/Coup4.jpg">
								</a>
								<div class="contentOfCard">
									<h2 class="comh">Набор<br>"Страсть"</h2>
									
									<a class="comhbutton" href="/product/karantinnyy-nabor-dlya-par-passion">К покупке</a>
								</div>
							</div>
						</div>

					</div>
					</section>
			</div>
		</div>
	


