<noscript id="close-njs-alert">
<a href="#close-njs-alert" class="njs-alert-overlay">
  <div class="njs-alert-wrapper">
    <div class="njs-alert">
      <p>{{ messages.no_js_message }}</p>
      <button class="njs-close">
        &times;
      </button>
    </div>
  </div>
</a>
</noscript>
