<h2>
  Переменные
</h2>
<p>
  <b>
    project\scss_import\variables\
  </b>
</p>
<div class="settings_guide-font-primary">
</div>

<div class="settings_guide-font-second">
</div>

<div class="settings_guide-font-size"></div>

<h3>
  Цвета
</h3>

<div class="settings_guide-color-background-primary"></div>
<div class="settings_guide-color-text-primary"></div>
<div class="settings_guide-color-text-gray"></div>
<div class="settings_guide-color-link-primary"></div>
<div class="settings_guide-color-link-secondary"></div>
<div class="settings_guide-color-info"></div>
<div class="settings_guide-color-success"></div>
<div class="settings_guide-color-error"></div>
<div class="settings_guide-color-warning"></div>


<br>
<br>
