<div class="social_share">
  <div class="social_share-title">
    Поделиться:
  </div>
  <div class="social_share-list">
        <a href="#" data-social="odnoklassniki">
      <i class="fa fa-odnoklassniki" aria-hidden="true"></i>
    </a>
    <a href="#" data-social="facebook">
      <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    <a href="#" data-social="vkontakte">
      <i class="fa fa-vk" aria-hidden="true"></i>
    </a>
  </div>
</div>
