<div class="m-b-30">
  {% include "breadcrumb" %}
</div>

<div class="cont1">
<div class="vidpromo">
		<video src="https://static-ru.insales.ru/files/1/7761/11976273/original/lana.mp4" muted loop autoplay type="mp4"></video>
		<div class="textBox">
			Evol <span>Blog</span>
		</div>

	</div>
</div>

</div>

<div class="cont2">
	
	<div class="blog m-b-50 ">
		{% include 'articles-list' %}
	</div>
	<a href="https://t.me/AnonChanBot?start=evol_chat" class="tgline cell-12 text-center row flex-middle">
		<p>Присоединяйтесь к анонимному чату в Telegram</p>
		<img class="tgimg m-l-10" src="https://static-eu.insales.ru/files/1/6804/12147348/original/logotype.png">
</a>

<script type="text/javascript">
	let video = document.querySelector('video');
	window.addEventListener('scroll', function() {
		let value = 1 + window.scrollY/-600;
		video.style.opacity = value;
	})
</script>

