<!DOCTYPE html>
<html class='{{default_checkout2_layout_class}}' lang='ru' xml:lang='ru' xmlns='http://www.w3.org/1999/xhtml'>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  <meta content='noindex, nofollow' name='robots'>
  <meta content='width=device-width, initial-scale=1.0 user-scalable=no' name='viewport'>

  <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}">

  <link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,500,700&amp;subset=latin,cyrillic' rel='stylesheet' type='text/css'>
  <title>{% yield 'title' %}</title>
  {{ 'checkout2' | global_stylesheet_tag }}
  {% assign custom_checkout_css = 'custom_checkout2.css' | asset_url_if_exists %}
  {% if custom_checkout_css %}
  <link href='{{ custom_checkout_css }}' rel='stylesheet'>
  {% endif %}
  {% include "styles", is_checkout: true %}
</head>
<body class='adaptive template-is-checkout2 not-index-page'>
  {% include "header" with "no-basket" %}
  <div class="b-bottom"></div>

  <div class='co-section--checkout_content'>
    <div class='co-section--checkout_order co-section--checkout_order_sided'>
      <div class='co-section--checkout_header co-checkout-block--padded'>
        <h1 class='co-checkout-title co-title co-title--h1 page-title'>
          {% yield 'title' %}
        </h1>

        {% comment %}{% yield 'breadcrumbs' %}{% endcomment %}
      </div>
      
      {% yield 'sidebar' %}
      {% yield %}
    </div>
    
  </div>
  {% include "footer" %}
  {% include "scripts", is_checkout: true %}
  <script type="text/javascript" src="https://pickpoint.ru/select/postamat.js" charset="utf-8"></script>
    <script type="text/javascript">
    function my_function(result){
      // устанавливаем в скрытое поле ID терминала
      document.getElementById('pickpoint_id').value=result['id'];
      
      // показываем пользователю название точки и адрес доствки
      document.getElementById('address').innerHTML=result['name']+'<br />'+result['address'];
    }

  </script>
  <script src="https://cdn.jsdelivr.net/gh/VladimirIvanin/favorites@0.5.6/dist/favorites.js"></script>
</body>
</html>
